<div class="container mt-4">
    <h1 class="mt-4">Sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="/">Trang chủ</a>/<a href="/products">Sản
                phẩm</a>/<%= product.name %></li>
    </ol>

    <!-- tab nav -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                aria-selected="true">Thông tin cơ bản, bán hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#image" role="tab" aria-controls="image"
                aria-selected="false">Quản lý hình ảnh</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#size" role="tab" aria-controls="size"
                aria-selected="false">Quản lý size, số lượng</a>
        </li>
    </ul>
    <!-- /tab nav -->

    <!-- tab content -->
    <div class="tab-content">
        <!-- basic info tab -->
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
            <div class="card mt-4">
                <h5 class="card-header">Thông tin cơ bản, bán hàng</h5>
                <div class="card-body">
                    <!-- update basic info FORM -->
                    <form method="POST" action="/products/id/<%= product._id %>/info/update">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Tên</label>
                                <input type="text" class="form-control" name="name" value="<%= product.name %>">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="discount">Khuyến mãi (%)</label>
                                <input type="text" class="form-control" name="discount" value="<%= product.discount %>">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" value="<%= product._id %>" disabled>
                                <input type="text" class="form-control" name="id" value="<%= product._id %>" hidden>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="price">Giá</label>
                                <input type="text" class="form-control" name="price"
                                    value="<%= product.price.price_value %>">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="price_currency">Đơn vị tiền</label>
                                <select class="custom-select" name="price_currency">
                                    <option value="VND" <% if(product.price.price_currency == 'VND') { %> selected
                                        <% } %>>VND
                                    </option>
                                    <option value="USD" <% if(product.price.price_currency == 'USD') { %> selected
                                        <% } %>>USD
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="color">Màu sắc</label>
                                <input type="text" class="form-control" name="color" value="<%= product.color %>">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="SKU">Mã SKU</label>
                                <input type="text" class="form-control" name="SKU" value="<%= product.SKU %>">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="brand">Thương hiệu</label>
                                <input type="text" class="form-control" name="brand" value="<%= brand.name %>" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="category">Danh mục</label>
                                <select class="custom-select" name="category_id">
                                    <option value="<%= category._id %>" selected><%= category.name %>
                                    </option>
                                    <% for(let i = 0; i < categories.length; i++) { %>
                                    <% if(categories[i].name != category.name) { %>
                                    <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="description">Miêu tả</label>
                                <textarea class="form-control" name="description"
                                    rows="4"><%= product.description %></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>
                            &emsp;Cập nhật thông tin</button>
                        <input type="text" name="_method" value="patch" hidden>
                    </form>
                    <!-- /update basic info FORM -->
                </div>
            </div>
        </div>
        <!-- /basic info tab -->

        <!-- image manager tab -->
        <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
            <div class="card mt-4">
                <h5 class="card-header">Quản lý hình ảnh</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="image_show">Ảnh bìa sản phẩm</label>
                            <% if(product.image_show_url) { %>
                            <img src="<%= product.image_show_url %>" alt="image_show" class="img-thumbnail">
                            <a href="#deleteImageShowModal" data-toggle="modal">
                                <div <i class="fas fa-trash fa-1x" style="color:rgb(255, 61, 61)"></i></div>
                            </a>

                            <!-- delete image show modal -->
                            <div class="modal fade" id="deleteImageShowModal" tabindex="-1" role="dialog"
                                aria-labelledby="deleteImageShowModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Xoá hình ảnh</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Bạn có chắc chắn muốn xoá hình ảnh</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                                    class="fas fa-times"></i>&emsp;Huỷ bỏ</button>
                                            <button type="submit" form="deleteImageShowForm" class="btn btn-danger"><i
                                                    class="fas fa-check"></i>
                                                &emsp;Đồng ý</button>
                                        </div>
                                        <form method="POST" action="/products/id/<%= product._id %>/images/delete"
                                            id="deleteImageShowForm">
                                            <input type="text" name="id" value="<%= product._id %>" hidden>
                                            <input type="text" name="is_image_show" value="true" hidden>
                                            <input type="text" name="url" value="<%= product.image_show_url %>" hidden>
                                            <input type="text" name="_method" value="delete" hidden>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /delete image show modal -->

                            <% } else { %>
                            <!-- create image show FORM -->
                            <form action="/products/id/<%= product._id %>/images/create" method="POST"
                                enctype="multipart/form-data" id="newImageShowForm">
                                <div class="main-img-preview">
                                    <img class="img-thumbnail img-preview " id="img-show-preview"
                                        src="/resources/img/default-thumbnail.jpg" title="Image detail">
                                </div>
                                <div class="input-group">
                                    <input id="img-show-preview-title" class="form-control" placeholder="Chọn file ảnh"
                                        disabled="disabled">
                                    <div class="input-group-btn">
                                        <div class="fileUpload btn btn-light">
                                            <span><i class="fa fa-plus" aria-hidden="true"></i></i></span>
                                            <input class="image-upload" id="img-show" name="img" type="file">
                                        </div>
                                    </div>
                                </div>
                                <input type="text" name="is_image_show" hidden value="true">
                                <input type="text" name="id" hidden value="<%= product._id %>">
                            </form>
                            <!-- /create image show FORM -->
                            <div class="mt-4">
                                <button type="submit" id="btnUpdateImageShow" form="newImageShowForm"
                                    data-toggle="modal" class="btn btn-primary" style="width:100%" disabled><i
                                        class="fas fa-check"></i>
                                    &emsp;Cập nhật ảnh bìa</button>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <label class="mt-4" for="image_show">Ảnh miêu tả sản phẩm</label>

                    <div class="row">
                        <% for(let i = 0; i < product.images_detail_url.length; i++) { %>
                        <div class="col-md-3">
                            <% if(product.images_detail_url[i]) { %>
                            <img src="<%= product.images_detail_url[i] %>" alt="image-detail" class="img-thumbnail">

                            <a href="#deleteImageDetailModal<%= i+1 %>" data-toggle="modal">
                                <div <i class="fas fa-trash fa-1x" style="color:rgb(255, 61, 61)"></i></div>
                            </a>

                            <!-- delete image detail modal -->
                            <div class="modal fade" id="deleteImageDetailModal<%= i+1 %>" tabindex="-1" role="dialog"
                                aria-labelledby="deleteImageDetailModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Xoá hình ảnh</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Bạn có chắc chắn muốn xoá hình ảnh</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                                    class="fas fa-times"></i>&emsp;Huỷ bỏ</button>
                                            <button type="submit" form="deleteImageDetailForm<%= i+1 %>"
                                                class="btn btn-danger"><i class="fas fa-check"></i>
                                                &emsp;Đồng ý</button>
                                        </div>
                                        <form method="POST" action="/products/id/<%= product._id %>/images/delete"
                                            id="deleteImageDetailForm<%= i+1 %>">
                                            <input type="text" name="id" value="<%= product._id %>" hidden>
                                            <input type="text" name="is_image_show" value="false" hidden>
                                            <input type="text" name="url" value="<%= product.images_detail_url[i] %>"
                                                hidden>
                                            <input type="text" name="_method" value="delete" hidden>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /delete image detail modal -->
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                    <div class="mt-4 col-md-3">
                        <button type="button" style="width: 100%; margin-left: -3%;" data-toggle="modal"
                            data-target="#newImageDetailModal" class="btn btn-success"><i
                                class=" fas fa-plus"></i>&emsp;Thêm ảnh miêu tả</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /image manager tab -->

        <!-- size manager tab -->
        <div class="tab-pane fade" id="size" role="tabpanel" aria-labelledby="size-tab">
            <div class="card mt-4">
                <h5 class="card-header">Quản lý size, số lượng</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">VN-Size</th>
                            <th scope="col">US-Size</th>
                            <th scope="col">Chiều dài (cm)</th>
                            <th scope="col">Tổng số</th>
                            <th scope="col">Số lượng còn lại</th>
                            <th scope="col">Xoá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < sizes.length; i++) { %>
                        <tr>
                            <th scope="row"><%= i + 1 %> </th>
                            <td><%= sizes[i].VN_size %> </td>
                            <td><%= sizes[i].US_size %></td>
                            <td><%= sizes[i].CM_size %></td>
                            <td><%= sizes[i].amount %></td>
                            <td>
                                <%= sizes[i].remaining_amount %>&emsp;
                                <a href="#updateSizeModal<%= i %>" data-toggle="modal"
                                    data-target="#updateSizeModal<%= i %>" class="">
                                    <div <i class="fas fa-edit"></i></div>
                                </a>
                            </td>
                            <td>
                                <a href="#deleteSizeModal<%= i %>" data-toggle="modal"
                                    data-target="#deleteSizeModal<%= i %>" class="">
                                    <div <i class="fas fa-trash-alt" style="color:rgb(255, 61, 61)"></i></div>
                                </a>
                            </td>

                            <!-- modal for update remaining of size -->
                            <div class="modal fade bd-example-modal-lg" id="updateSizeModal<%= i %>" tabindex="-1"
                                role="dialog" aria-labelledby="updateSizeModalLabel<%= i %>" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Size</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- update remaining of size FORM-->
                                            <form method="POST" id="updateSizeForm<%= i %>"
                                                action="/products/id/<%= product._id %>/sizes/update">
                                                <div class="form-row">
                                                    <div class="form-group col-md-3">
                                                        <label for="name">VN-Size</label>
                                                        <input type="text" class="form-control"
                                                            value="<%= sizes[i].VN_size %>" disabled>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name">US-Size</label>
                                                        <input type="text" class="form-control"
                                                            value="<%= sizes[i].US_size %>" disabled>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name">Tổng số</label>
                                                        <input type="text" class="form-control"
                                                            value="<%= sizes[i].amount %>" disabled>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name">Số lượng còn lại</label>
                                                        <input type="number" class="form-control"
                                                            name="remaining_amount"
                                                            value="<%= sizes[i].remaining_amount %>">
                                                    </div>
                                                </div>
                                                <input type="text" name="_method" value="patch" hidden>
                                                <input type="text" name="id" value="<%= product._id %>" hidden>
                                                <input type="text" name="size_id" value="<%= sizes[i]._id %>" hidden>
                                            </form>
                                            <!-- /update remaining of size FORM-->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                                    class="fas fa-times"></i>&emsp;Huỷ bỏ</button>
                                            <button type="submit" form="updateSizeForm<%= i %>"
                                                class="btn btn-primary"><i class="fas fa-check"></i>
                                                &emsp;Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /modal for update remaining of size -->

                            <!-- modal for delete a size -->
                            <div class="modal fade bd-example-modal-lg" id="deleteSizeModal<%= i %>" tabindex="-1"
                                role="dialog" aria-labelledby="deleteSizeModalLabe<%= i %>" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Xoá Size</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <!-- delete size FORM-->
                                            <form method="POST" id="deleteSizeForm<%= i %>"
                                                action="/products/id/<%= product._id %>/sizes/delete">
                                                <div class="form-row">
                                                    <div class="form-group col-md-3">
                                                        <label for="name">VN-Size</label>
                                                        <input type="text" class="form-control"
                                                            value="<%= sizes[i].VN_size %>" disabled>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name">US-Size</label>
                                                        <input type="text" class="form-control"
                                                            value="<%= sizes[i].US_size %>" disabled>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name">Tổng số</label>
                                                        <input type="text" class="form-control"
                                                            value="<%= sizes[i].amount %>" disabled>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name">Số lượng còn lại</label>
                                                        <input type="number" class="form-control"
                                                            value="<%= sizes[i].remaining_amount %>" disabled>
                                                    </div>
                                                </div>

                                                <input type="text" name="id" value="<%= product._id %>" hidden>
                                                <input type="text" name="size_id" value="<%= sizes[i]._id %>" hidden>
                                                <input type="text" name="_method" value="delete" hidden>
                                            </form>
                                            <!-- /delete size FORM-->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                                    class="fas fa-times"></i>&emsp;Huỷ bỏ</button>
                                            <button type="submit" form="deleteSizeForm<%= i %>"
                                                class="btn btn-danger"><i class="fas fa-check"></i>
                                                &emsp;Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /modal for delete a size -->
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <div class="mt-4">
                    <button type="button" data-toggle="modal" data-target="#newSizeModal" class="btn btn-success"
                        style="margin-bottom: 10px; margin-left: 10px;">
                        <i class="fas fa-plus"></i>&emsp;Thêm size sản phẩm
                    </button>
                </div>
            </div>
        </div>
        <!-- /size manager tab -->
    </div>
    <!-- /tab content -->

    <div class="mt-4"></div>
</div>

<!-- modal for create a new size-->
<div class="modal fade bd-example-modal-lg" id="newSizeModal" tabindex="-1" role="dialog"
    aria-labelledby="newSizeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Size</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- new a size FORM -->
                <form method="POST" id="newSizeForm" action="/products/id/<%= product._id %>/sizes/create">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="validationCustom01">Size</label>
                            <div class="form-group">
                                <select name="size_id" id="newSizeSelected" class="custom-select" required>
                                    <option value="">Chọn size</option>
                                    <% for(let i = 0; i < sizesExpected.length; i++) { %>
                                    <option value="<%= sizesExpected[i]._id %>">
                                        <%= sizesExpected[i].text %>
                                    </option>
                                    <% } %>
                                </select>
                                <div class="invalid-feedback">Vui lòng chọn size</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="name">Tổng số</label>
                            <input type="number" class="form-control" id="amountInput" name="amount" value="">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="name">Số lượng còn lại</label>
                            <input type="number" class="form-control" id="remainingAmountInput" name="remaining_amount"
                                value="">
                        </div>
                    </div>
                    <div class="form-row" id=textMessageOnCreateNewSize></div>
                    <input type="text" id="productID" name="id" value="<%= product._id %>" hidden>
                </form>
                <!-- /new a size FORM -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                        class="fas fa-times"></i>&emsp;Huỷ bỏ</button>
                <button type="submit" id="btnConfirmToCreateNewSize" form="newSizeForm" class="btn btn-primary"
                    disabled><i class="fas fa-check"></i>
                    &emsp;Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- modal for create a new image -->
<div class="modal fade bd-example-modal-lg" id="newImageDetailModal" tabindex="-1" role="dialog"
    aria-labelledby="newImageDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm hình miêu tả sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- new a image detail FORM -->
                <form id="newImageDetailForm" action="/products/id/<%= product._id %>/images/create" method="POST"
                    enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="main-img-preview">
                                <img class="img-thumbnail img-preview" id="img-detail-preview"
                                    src="/resources/img/default-thumbnail.jpg" title="Image detail">
                            </div>
                            <div class="input-group">
                                <input id="img-detail-preview-title" class="form-control" placeholder="Chọn file ảnh"
                                    disabled="disabled">
                                <div class="input-group-btn">
                                    <div class="fileUpload btn btn-light">
                                        <span><i class="fa fa-plus" aria-hidden="true"></i></i></span>
                                        <input class="image-upload" id="img-detail" name="img" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="text" name="is_image_show" hidden value="false">
                    <input type="text" name="id" hidden value="<%= product._id %>">
                </form>
                <!-- /new a image detail FORM -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                        class="fas fa-times"></i>&emsp;Huỷ bỏ</button>
                <button type="submit" id="btnUpdateImageDetail" form="newImageDetailForm" class="btn btn-primary"
                    disabled><i class="fas fa-check"></i>
                    &emsp;Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script src="/resources/js/imagePreviewProcess.js"></script>
<script src="/resources/js/productEdit.js"></script>