<div class="container-fluid">
    <h1 class="mt-4">Tất cả sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Trang chủ/Tất cả sản phẩm</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>Tất cả sản phẩm
        </div>
        <div class="card-body">
            <form action="/products" method="GET" id="formFillterProducts">
                <div class="row">
                    <div class="col-md-2 fillter-bar-right">
                        <select name="query_field" class="form-control">
                            <option value="name">Tên sản phẩm</option>
                            <option value="SKU" <% if(query.query_field && query.query_field === 'SKU') { %>
                                <%= 'selected' %> <% } %>>SKU sản phẩm</option>
                            <option value="color" <% if(query.query_field && query.query_field === 'color') { %>
                                <%= 'selected' %> <% } %>>Màu sắc</option>
                        </select>
                    </div>
                    <div class="col-md-3 fillter-bar-left">
                        <input name="query_value" class="form-control" <% if(query.query_value) { %>
                            <%= 'value=' + query.query_value %> <% } %> type="text" placeholder="Nhập từ khoá">
                    </div>
                    <div class="col-md-7">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Thương hiệu</span>
                            </div>
                            <button type="button" class="btn btn-outline border form-control" data-toggle="dropdown">
                                <div class="row">
                                    <div class="col-md-10" id="brandText">Tất cả</div>
                                    <div class="col-md-2">
                                        <div class="float-right dropdown-toggle"></div>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu col-md-6" id="brandDropdown">
                                <% for(let i = 0; i < brands.length; i++) { %>
                                <li><a href="#" class="dropdown-item" tabIndex="-1"><input type="checkbox"
                                            name="brands_id" value="<%= brands[i]._id %>"
                                            <% if(query.brands_id && query.brands_id.indexOf(String(brands[i]._id)) > -1) { %>
                                            <%= 'checked' %> <% } %> />&nbsp;<%= brands[i].name %>
                                    </a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-1 fillter-bar-right">
                        <select id="priceUnit" name="price_currency" class="form-control form-control-sm">
                            <option id="vndUnitOption" value="VND"
                                <% if(query.price_currency && query.price_currency === 'VND') { %> <%= 'selected' %>
                                <% } %>>VND</option>
                            <option id="usdUnitOption" value="USD"
                                <% if(query.price_currency && query.price_currency === 'USD') { %> <%= 'selected' %>
                                <% } %>>USD</option>
                        </select>
                    </div>
                    <div class="col-md-3 fillter-bar-left">
                        <select id="vndUnitRange" name="price_range" class="form-control form-control-sm"
                            <% if(query.price_currency && query.price_currency === 'USD') { %> <%= 'hidden disabled' %>
                            <% } %>>
                            <option value="all" <% if(query.price_range && query.price_range === 'all') { %>
                                <%= 'selected' %> <% } %>>Tất cả</option>
                            <option value="0-1000000" <% if(query.price_range && query.price_range === '0-1000000') { %>
                                <%= 'selected' %> <% } %>>Giá dưới 1.000.000đ</option>
                            <option value="1000000-2000000"
                                <% if(query.price_range && query.price_range === '1000000-2000000') { %>
                                <%= 'selected' %> <% } %>>1.000.000đ - 2.000.000đ</option>
                            <option value="2000000-3000000"
                                <% if(query.price_range && query.price_range === '2000000-3000000') { %>
                                <%= 'selected' %> <% } %>>2.000.000đ - 3.000.000đ</option>
                            <option value="3000000-5000000"
                                <% if(query.price_range && query.price_range === '3000000-5000000') { %>
                                <%= 'selected' %> <% } %>>3.000.000đ - 5.000.000đ</option>
                            <option value="5000000-10000000"
                                <% if(query.price_range && query.price_range === '5000000-10000000') { %>
                                <%= 'selected' %> <% } %>>
                                5.000.000đ - 10.000.000đ</option>
                            <option value="10000000-100000000"
                                <% if(query.price_range && query.price_range === '10000000-100000000') { %>
                                <%= 'selected' %> <% } %>>
                                Giá trên 10.000.000đ</option>
                        </select>

                        <select id="usdUnitRange" name="price_range" class="form-control form-control-sm"
                            <% if(!query.price_currency || query.price_currency && query.price_currency === 'VND') { %>
                            <%= 'hidden disabled' %> <% } %>>
                            <option value="all" <% if(query.price_range && query.price_range === 'all') { %>
                                <%= 'selected' %> <% } %>>Tất cả</option>
                            <option value="0-50" <% if(query.price_range && query.price_range === '0-50') { %>
                                <%= 'selected' %> <% } %>>Giá dưới 50$</option>
                            <option value="50-100" <% if(query.price_range && query.price_range === '50-100') { %>
                                <%= 'selected' %> <% } %>>50$ - 100$</option>
                            <option value="100-200" <% if(query.price_range && query.price_range === '100-200') { %>
                                <%= 'selected' %> <% } %>>100$ - 200$</option>
                            <option value="200-300" <% if(query.price_range && query.price_range === '200-300') { %>
                                <%= 'selected' %> <% } %>>200$ - 300$</option>
                            <option value="300-500" <% if(query.price_range && query.price_range === '300-500') { %>
                                <%= 'selected' %> <% } %>>300$ - 500$</option>
                            <option value="500-5000" <% if(query.price_range && query.price_range === '500-500') { %>
                                <%= 'selected' %> <% } %>>Giá trên 500$</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Danh mục</span>
                            </div>
                            <button type="button" class="btn btn-outline border form-control" data-toggle="dropdown">
                                <div class="row">
                                    <div class="col-md-10" id="categoryText">Tất cả</div>
                                    <div class="col-md-2">
                                        <div class="float-right dropdown-toggle"></div>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu col-md-6" id="categoryDropdown">
                                <% for(let i = 0; i < categories.length; i++) { %>
                                <li><a href="#" class="dropdown-item" tabIndex="-1"><input type="checkbox"
                                            name="categories_id" value="<%= categories[i]._id %>"
                                            <% if(query.categories_id && query.categories_id.indexOf(String(categories[i]._id)) > -1) { %>
                                            <%= 'checked' %> <% } %> />
                                        &nbsp;<%= categories[i].name %>
                                    </a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-dark btn-sm" style="width: 100%;">Tìm kiếm</button>
                    </div>
                </div>

                <div class="row mt-4 float-right fillter-bar-left">
                    <div class="float-right">
                        <a class="btn btn-success" href="/products/create" style="margin-bottom: 10px;"><i
                                class=" fas fa-plus"></i>&emsp;Thêm 1 sản
                            phẩm mới</a>

                    </div>
                </div>

                <%- include('./productsTableShow.ejs') %>
            </form>

        </div>
    </div>
</div>

<script src="/js/productScript.js"></script>
<script>
    $(document).ready(function () {
        $('#priceUnit').on('change', function () {
            if ($('#vndUnitOption').is(':selected')) {
                $('#vndUnitRange').attr("hidden", false);
                $('#vndUnitRange').attr("disabled", false);
                $('#usdUnitRange').attr("hidden", true);
                $('#usdUnitRange').attr("disabled", true);
            } else {
                $('#vndUnitRange').attr("hidden", true);
                $('#vndUnitRange').attr("disabled", true);
                $('#usdUnitRange').attr("hidden", false);
                $('#usdUnitRange').attr("disabled", false);
            }
        })
    })
</script>

<script>
    $(document).ready(function () {
        dropdownCheckboxScript("brandDropdown", "brandText");
        dropdownCheckboxScript("categoryDropdown", "categoryText");
    })
</script>

<script>
    $(document).ready(function () {
        $(document).on('click', '.page-item', function (e) {
            if ($(this).find('button').attr('id') == 'pageStart') {
                $(this).append('<input type="text" name="page" value=' + 1 + '>hidden');
            } else if ($(this).find('button').attr('id') == 'pageEnd') {
                $(this).append('<input type="text" name="page" value=' + $('#numberOfPage').val() +
                    'hidden>');
            } else {
                $(this).append('<input type="text" name="page" value=' + $(this).text() + 'hidden>');
            }
            $('form#formFillterProducts').submit();
        })
    });
</script>

<script>
    $("form#formFillterProducts").submit(function (e) {
        e.preventDefault();
        let query = $('form#formFillterProducts').serialize();
        let loading =
            '<div id="productsTableShow">' +
            '<div class="table-responsive">' +
            '<div class="d-flex justify-content-center">' +
            '<div class="spinner-border text-danger" role="status">' +
            '<span class="sr-only">Loading...</span>' +
            '</div> </div> </div> </div>'

        $('#productsTableShow').replaceWith(loading);

        setTimeout(function () {
            $.ajax({
                url: '/api/products',
                type: 'get',
                data: query,
                success: function (result) {
                    $('#productsTableShow').replaceWith(result);
                    window.history.pushState('', 'Tất cả sản phẩm', '/products?' + query);
                }
            });
        }, 700)
    })
</script>