<div class="container mt-4">
    <h1 class="mt-4">Thêm mới 1 sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            <a href="/">Trang chủ</a>/<a href="/products">Sản
                phẩm</a>
            /Thêm mới sản phẩm</li>
    </ol>
    <form method="POST" id="newProductForm" action="/products/create" enctype="multipart/form-data">
        <div class="card mt-4">
            <h5 class="card-header">Thông tin cơ bản</h5>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Tên</label>
                        <input type="text" class="form-control" name="name" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="discount">Khuyến mãi (%)</label>
                        <input type="text" class="form-control" name="discount" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="category">Danh mục</label>
                        <select class="custom-select" name="category_id">
                            <% for(let i = 0; i < categories.length; i++) { %>
                            <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="price_value">Giá</label>
                        <input type="text" class="form-control" name="price_value" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="price_currency">Đơn vị tiền</label>
                        <select class="custom-select" name="price_currency">
                            <option value="VND">VND
                            </option>
                            <option value="USD">USD
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="color">Màu sắc</label>
                        <input type="text" class="form-control" name="color" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="SKU">Mã SKU</label>
                        <input type="text" class="form-control" name="SKU" value="">
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="description">Miêu tả</label>
                        <textarea class="form-control" name="description" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <h5 class="card-header">Thương hiệu, size</h5>
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="form-group col-md-10">
                        <label for="category">Thương hiệu</label>
                        <select class="custom-select" id=brand_id name="brand_id">
                            <option value="<%= brands[0]._id %>" selected><%= brands[0].name %></option>
                            <% for(let i = 1; i < brands.length; i++) { %>
                            <option value="<%= brands[i]._id %>"><%= brands[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="row mt-4 d-flex justify-content-center">
                    <div class="form-group col-md-10">
                        <label for="category">Size (Click chọn size để điền số lượng tương ứng, số lượng mặc định là
                            0)</label>
                    </div>
                </div>
                <div id="sizes">
                    <input type="text" id="totalSizes" value="<%= sizes.length %>" disabled hidden>
                    <% for(let i = 0; i < sizes.length; i++) { %>
                    <div class="row d-flex justify-content-center">
                        <div class="input-group mb-3 col-md-8">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="sizes" id="checkboxSize<%= i+1 %>"
                                        value="<%= sizes[i]._id %>">
                                </div>
                            </div>
                            <div class="input-group-prepend col-md-5" style="padding: 0;">
                                <span class="input-group-text" id="inputGroupPrepend"
                                    style="width: 100%;"><%= sizes[i].text %></span>
                            </div>
                            <input type="text" class="form-control" id="amount<%= i+1 %>" name="amount"
                                placeholder="Tổng số" disabled>
                            <input type="text" class="form-control" id="remaining_amount<%= i+1 %>"
                                name="remaining_amount" placeholder="Số lượng còn lại" disabled>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <h5 class="card-header">Hình ảnh</h5>
            <div class="card-body">
                <label for="image_show">Ảnh bìa sản phẩm</label>
                <div class="row">
                    <div class="col-md-3">
                        <div class="main-img-preview">
                            <img class="img-thumbnail img-preview" id="img-show-preview"
                                src="/resources/img/default-thumbnail.jpg" title="Image detail">
                        </div>
                        <div class="input-group">
                            <input id="img-show-preview-title" class="form-control" placeholder="Choose File"
                                disabled="disabled">
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-light">
                                    <span><i class="fa fa-plus" aria-hidden="true"></i></i></span>
                                    <input class="image-upload" id="img-show" name="img" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="img_show_name" name="img_show_name" type="text" hidden>
                </div>
                <label class="mt-4" for="image_detail">Ảnh miêu tả sản phẩm</label>
                <div class="row">
                    <% for(let i = 0; i < 4; i++) { %>
                    <div class="col-md-3">
                        <div class="main-img-preview">
                            <img class="img-thumbnail img-preview " id="img-detail-preview<%= i+1 %>"
                                src="/resources/img/default-thumbnail.jpg" title="Image detail">
                        </div>
                        <div class="input-group">
                            <input id="img-detail-preview-title" class="form-control" placeholder="Choose File"
                                disabled="disabled">
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-light">
                                    <span><i class="fa fa-plus" aria-hidden="true"></i></i></span>
                                    <input class="image-upload" id="img-detail<%= i+1 %>" name="img" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row mt-4 col-md-3" style="padding-bottom: 1.75rem;">
            <button type="submit" form="newProductForm" class="btn btn-success"><i class="fas fa-plus"></i> &emsp;Thêm
                sản phẩm</button>
        </div>
    </form>
</div>


<script src="/resources/js/imagePreviewProcess.js"></script>
<script src="/resources/js/productCreate.js"></script>