<div id="sizes">
    <input type="text" id="totalSizes" value="<%= sizes.length %>" disabled hidden>
    <% for(let i = 0; i < sizes.length; i++) { %>
    <div class="row d-flex justify-content-center">
        <div class="input-group mb-3 col-md-8">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="sizes" id="checkboxSize<%= i+1 %>" value="<%= sizes[i]._id %>">
                </div>
            </div>
            <div class="input-group-prepend col-md-5" style="padding: 0;">
                <span class="input-group-text" id="inputGroupPrepend" style="width: 100%;"><%= sizes[i].text %></span>
            </div>
            <input type="text" class="form-control" id="amount<%= i+1 %>" name="amount" placeholder="Tổng số" disabled>
            <input type="text" class="form-control" id="remaining_amount<%= i+1 %>" name="remaining_amount"
                placeholder="Số lượng còn lại" disabled>
        </div>
    </div>
    <% } %>
</div>

<script>
    $(document).ready(function () {
        let totalSizes = $('#totalSizes').val();

        $('input:checkbox').prop('checked', false);
        for (let i = 0; i < totalSizes; i++) {
            $('#checkboxSize' + String(i + 1)).on('change', function () {
                if (this.checked === true) {
                    //console.log(totalSizes);
                    //console.log(i);
                    $('#amount' + String(i + 1)).attr('disabled', false);
                    $('#remaining_amount' + String(i + 1)).attr('disabled', false);
                } else {
                    $('#amount' + String(i + 1)).attr('disabled', true);
                    $('#remaining_amount' + String(i + 1)).attr('disabled', true);
                }
            })
        }
    });
</script>