<div class="container-fluid">
    <h1 class="mt-4">Đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="/">Trang chủ</a>/Đơn hàng</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>Đơn hàng
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Thời gian</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                            <th>Tổng tiền</th>
                            <th>Phương thức thanh toán</th>
                            <th>Sửa</th>
                        </tr>
                        </thead>
                        <tfoot hidden>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Thời gian</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                            <th>Tổng tiền</th>
                            <th>Phương thức thanh toán</th>
                            <th>Sửa</th>
                        </tr>
                        </tfoot>
                        <% for(let i = 0; i < invoices.length; i++) { %>
                            <tr>
                                <td>
                                    <a href="#" type="button" data-toggle="modal" data-target="#modal-edit-invoice"
                                       onclick="getInvoice('<%= invoices[i]._id %>')">
                                        <%= invoices[i]._id %>
                                    </a>
                                </td>

                                <td>
                                    <%= invoices[i].user_id.email %>
                                </td>
                                <td>
                                    <%= new Date(invoices[i].createdAt).toLocaleString() %>
                                </td>
                                <td>
                                    <%= invoices[i].invoice_items.length %>
                                </td>
                                <td>
                                    <%= invoices[i].status %>
                                </td>
                                <td>
                                    <%= new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'})
                                            .format(invoices[i].totalFee) %>
                                </td>
                                <td>
                                    <%= invoices[i].payment_method %>
                                </td>
                                <td>
                                    <a href="#" type="button" data-toggle="modal" data-target="#modal-edit-invoice"
                                       onclick="getInvoice('<%= invoices[i]._id %>')">
                                        <div><i class="fas fa-edit"></i></div>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-edit-invoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" style="padding:0 !important; z-index: 10000 ">
    <div class="modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-update-status">
                    <div class=" d-inline-flex justify-content-between w-100 mb-3">
                        <div>
                            <div>Address: <span id="address-invoice"></span></div>
                        </div>

                        <div>
                            <label for="#choose-status" class="mr-sm-3 display-5">Chọn trạng thái</label>
                            <input type="hidden" id="id-invoice-input" value="">
                            <select class="custom-select mr-sm-2" id="choose-status">
                                <option selected> Chọn...</option>
                                <option name="status" value="UNVERIFIED">UNVERIFIED</option>
                                <option name="status" value="VERIFIED">VERIFIED</option>
                                <option name="status" value="SHIPPING">SHIPPING</option>
                                <option name="status" value="WAITING">WAITING</option>
                                <option name="status" value="COMPLETE">COMPLETE</option>
                                <option name="status" value="CANCELED">CANCELED</option>
                            </select>

                            <button type="submit" class="btn btn-primary float-right mt-3"> Cập nhập</button>

                        </div>
                    </div>


                        <div class="card">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"></th>
                                    <th scope="col" class="text-center">Product</th>
                                    <th scope="col" class="text-center">Option</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-center">Price</th>
                                    <th scope="col" class="text-center">Total</th>
                                </tr>
                                </thead>
                                <tbody id="body-invoice-detail">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="clearModal()">Close
                    </button>

                </div>
            </div>
        </div>
    </div>
    <script src="/resources/js/categoryCreate.js"></script>
    <script src="/resources/js/invoiceHandle.js"></script>