<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Shoes Admin</title>
    <link href="/resources/css/styles.css" rel="stylesheet" />
    <link href="/resources/css/mystyles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partials/side-nav.ejs') %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <%- body %>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>
    </div>

    <%- include('../partials/commonScript.ejs') %>
    <%- script %>
</body>

</html>